<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.user}" />
        <property name="password" value="${jdbc.password}" />
    </bean>



    <context:property-placeholder location="classpath:learn/spring/jexample/jdbc.properties" />
    <!--没有配制模版 自己创建-->
    <bean id = "acountDao"  class="learn.spring.jexample.dao.AcountDao">
        <property name="dataSource" ref="myDataSource"/>
    </bean>
    <bean id="stockDao" class="learn.spring.jexample.dao.StockDao" >
        <property name="dataSource" ref="myDataSource" />
    </bean>


    <bean id ="buyStockService"  class="learn.spring.jexample.service.BuyStockServiceImpl" >
        <property name="acountDao" ref="acountDao" />
        <property name="stockDao"  ref="stockDao" />
    </bean>


    <bean id="myTansationManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager" >
        <property name="dataSource" ref="myDataSource" />
    </bean>

    <!--这种方式多个目标对象 臃肿-->
    <bean id="serviceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="buyStockService" />
        <property name="transactionManager" ref="myTansationManager" />
        <property name="transactionAttributes" >
            <props>
                <prop key="open*">ISOLATION_DEFAULT,PROPAGATION_REQUIRED</prop>
                <!---BuyStockException 发生指定异常回滚-->
                <!--+BuyStockException 发生异常提交 这时的异常通常是runtimeException-->
                <!--spring 里runtime异常自动回滚-->
                <prop key="buyStock">ISOLATION_DEFAULT,PROPAGATION_REQUIRED,-BuyStockException</prop>
            </props>
        </property>

    </bean>
</beans>

