<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--注册目标对象-->
    <bean id = "myService" class="learn.spring.aop.aop07.SomeServiceImpl"  scope="prototype"/>
    <!--注册通知-->
    <bean id="myMethodBeforeAdvice"  class="learn.spring.aop.aop01.MyMethodBeforeAdvice" />

    <bean id="serviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetName" value="myService" />
        <!--<property name="targetClass" ref="myService"/>-->
        <property name="interceptorNames" value="myMethodBeforeAdvice"/>
        <!--<property name="proxyTargetClass" value="true"/>-->
        <property name="proxyTargetClass" value="true" />

    </bean>




</beans>