<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


   <bean id="baseStudent"  class="learn.spring.di.di08.Student" abstract="true">

       <property name="school" value="Qinghua" />
       <property name="department" value="IT" />
   </bean>

</beans>