<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--注册目标对象-->
    <bean id = "myService" class="learn.spring.aop.aop06.SomeServiceImpl"  scope="prototype"/>
    <!--注册通知-->
    <bean id="myMethodBeforeAdvice"  class="learn.spring.aop.aop06.MyMethodBeforeAdvice" />
    <bean id="myMethodAfterAdvice" class="learn.spring.aop.aop06.MyAfterReturningAdvice" />
    <bean id="serviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="targetName" value="myService" />
        <!--<property name="targetClass" ref="myService"/>-->
        <!--<property name="interceptorNames" value="myMethodAfterAdvice,myMethodBeforeAdvice" />-->
        <property name="interceptorNames">
            <array>
                <value>myMethodBeforeAdvice</value>
                <value>myMethodAfterAdvice</value>
            </array>
        </property>
    </bean>




</beans>