<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--动态sql sql的筛选条件的个数不是固定的-->
<mapper namespace="learn.mybatis.crud5.one2many.dao.ICountryDao">
   <resultMap id="countryMapper" type="Country">
       <id column="cid" property="cid"/>
       <result column="cname" property="cname"/>
       <collection property="ministers" ofType="Minister">
           <id column="mid" property="mid"/>
           <result column="mname" property="mname"/>
       </collection>
   </resultMap>

    <select id="selectCountryById"  resultMap="countryMapper">
       select cid,cname,mid,mname from country,minister where countryId = cid and cid = #{cid}

   </select>

</mapper>