<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间用来区分执行的sql语句-->
<mapper namespace="test">
   <!--<insert id="insertStu" parameterType="learn.mybatis.primary.beans.Student" >-->
    <!--parameterType 可以不写-->
    <insert id="insertStu" parameterType="Student" >

    insert into  student(name,age,score) values (#{name},#{age},#{score})
   </insert>
</mapper>