<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="jdbc.properties" />
    <typeAliases>
        <!--将包下的类型名作为别名-->
        <package name="learn.mybatis.crud2.beans" />
    </typeAliases>

    <environments default="mysqlEM">
        <environment id="mysqlEM">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/spring" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="learn/mybatis/crud2/dao/mapper.xml" />
        <mapper resource="learn/mybatis/crud2/dao/mapper2.xml" />
    </mappers>
</configuration>