<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="learn.mybatis.crud5.many2one.dao.IMinisterDao">

    <resultMap id="countryMapper" type="Minister">
        <id column="mid" property="mid" />
        <result column="mname" property="mname"/>
        <association property="country" javaType="Country">
            <id column="cid" property="cid"/>
            <result column="cname" property="cname"/>
        </association>
    </resultMap>

    <select id="selectMinisterByid"  resultMap="countryMapper">
       select mid,mname,cid,cname from minister,country where  mid = #{mid}

   </select>

</mapper>